
    <mat-toolbar class="navbar bg-primary" data-bs-theme="dark">
       
        <span class="me-2">SITE JO</span>
        <div class="me-2">
            <button mat-stroked-button class="btn btn-primary me-2" routerLink="/index">Accueil</button>
            <button mat-stroked-button class="btn btn-primary me-2" routerLink="/evenement"> Evenement</button>

            <button mat-stroked-button class="btn btn-primary me-2" routerLink="/admin/listeEvenement">Liste Evenement </button>
            <button mat-stroked-button class="btn btn-primary me-2" routerLink="/admin/listeCategorie"> Liste Catégorie</button>
            <button mat-stroked-button class="btn btn-primary me-2" routerLink="/admin/listeClient"> Liste Clients</button>

            
        </div>



        <span class="example-spacer"></span>
        <button  class="btn btn-primary me-2" routerLink="/inscription">
         Inscription
        </button>

        <button  class="btn btn-primary me-2" routerLink="/connexion">
         Connecter
        </button>

        <button  class="btn btn-primary me-2"> <!--en fait une methode-->
        Déconnecter 
        </button>
       
      </mat-toolbar>
      

