<div class="container mt-5">
    <div class="row">
      <div class="col-md-4">

        <img src="../../../../assets/images/logo_JO.png"
             class="img-fluid rounded shadow-sm" alt="Event Image">
      </div>
  
      <!--  Detail evenement  -->
      <div class="col-md-7">
        <div class="event-details p-4 bg-white rounded shadow-sm">
          <h3 class="text-primary mb-3">{{ event.nomEvenement }}</h3>
           <p><strong>Date:</strong> {{ event.dateEvenement| date:'dd-MM-yyyy' }}</p>
          <p><strong>Type:</strong> {{ event.typeEvenement }}</p>
          <p><strong>Prix:</strong> {{ event.PrixEvenement }} £</p>
          
          <!-- Input et Bouton Ticket-->
          <div class="d-flex align-items-center">
            <input type="number" class="form-control w-50 me-3" placeholder="Quantité" min="1" />
            <button type="button" class="btn btn-success btn-lg" routerLink="/checkout">Acheter Ticket</button>
          </div>
        </div>
      </div>
    </div>
  
    
  </div>
  