<div class="container">

    <div class="row">
        <div class="col-3 mb-3">
            <div class="card mt-5 p-3">
                <div class="mt-2">
                    <label for="search">rechercher ..</label><hr>
                </div>
               <input type="search" class="form-control mt-p-3 " title="recherche" placeholder="chercher par categorie .."> <br>
                <ul style="text-decoration: none; list-style-type: none;" *ngFor="let c of listCategory">
                    <li><a><h3>{{c.nomCategori}}</h3></a></li>
                    
                </ul>
            </div>
        </div>
        <div class="col-9 mt-5">
            <div class="container">
    
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let e of listEvenement">
                        <div class="card shadow-lg border-0 rounded-3 overflow-hidden event-card">
                          <img src="../../../../assets/images/logo_JO.png" class="card-img-top img-fluid" alt="une image d'evenement">
                          <div class="card-body p-4">
                            <h5 class="card-title fw-bold text-primary">{{ e.nomEvenement }}</h5>
                            <p class="text-muted mb-3">
                              <strong class="text-dark">Prix :</strong> <i>{{ e.PrixEvenement }} TND</i><br>
                              <strong class="text-dark">Type :</strong> <i>{{ e.typeEvenement }}</i><br>
                              <strong class="text-dark">Date :</strong> <i>{{ e.dateEvenement | date:'dd/MM/yyyy' }}</i><br>
                              <strong class="text-dark">Categorie  :</strong> <i>{{ e.categori.nomCategori }}</i>
                            </p>
                            <a (click)="goToDetailsEvent(e.id)" class="btn btn-primary w-100">
                              Voir Plus..
                            </a>
                          </div>
                        </div>
                      </div>
                      
     
                </div>
     
               
            </div>
        </div>
    </div>

   


</div>