<main>
  <div class="container">

    <div class="col-md-12">
      <div class="h-100 width 700 p-5 bg-body-tertiary border rounded-3">
        <img src="../../../assets/images/JO.jpg" >

        </div>
        </div>

    <div class="col-md-12">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>Bienvenu au Jeux Olympique ...!</h2>
        <p>Les jeux Olympique est un évènement sportif international qui se déroule tous les quatre ans,c'est une compétition sportive rénové en 1893 et qui a lieu depuis 1896.<br>
          Réunissant les meilleurs athlètes dans une trentaine de sports. les JO est la plus grande manifestation sportive...<br>
          pour but de contribuer un monde pacifique par le sport dans l'esprit olympique qui exige la compréhension et la solidarité celui-ci se fondre sur les valeurs:<br>
          <b><i>L'excellence, L'amitié et le respect.</i></b> 
        </p>
        <button class="btn btn-outline-secondary" type="button" routerLink="/evenement">Liste des offres </button>
      </div>
    </div>
  </div>

</main>

<!--<main>
    <div class="container py-4">
   
  
      <div class="p-5 mb-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3" style="background-image: url(../../../assets/images/JO.jpg);background-size:auto;background-position: center; align-items:center;">
     
    </div>
      </div>
  
      <div class="col-md-12">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3" style="background-image: url(../../../assets/images/JO.jpg);background-size:auto;background-position: center; align-items:center;">

        </div>
        </div> 
    
        <div class="col-md-12">
          <div class="h-100 p-5 bg-body-tertiary border rounded-3">
            <h2>Bienvenu au Jeux Olympique ...!</h2>
            <p>Les jeux Olympique est un évènement sportif international qui se déroule tous les quatre ans,c'est une compétition sportive rénové en 1893 et qui a lieu depuis 1896.<br>
              Réunissant les meilleurs athlètes dans une trentaine de sports. les JO est la plus grande manifestation sportive...<br>
              pour but de contribuer un monde pacifique par le sport dans l'esprit olympique qui exige la compréhension et la solidarité celui-ci se fondre sur les valeurs:<br>
              <b><i>L'excellence, L'amitié et le respect.</i></b> 
            </p>
            <button class="btn btn-outline-secondary" type="button" routerLink="/evenement">Liste des offres </button>
          </div>
        </div>
      </div>
 
  </main>
-->