<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="card-header mt-3 p-2">
        <h2> Liste des évènements </h2>
      </div>
    </div>
    <div class="col-4"></div>
  </div>


  <table class="table table-striped table-hover table-bordered mt-3">

    <thead class="table-success">
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nom evénement</th>
        <th scope="col">Date evénement</th>
        <th scope="col"> Type evénement</th>
        <th scope="col">Prix</th>
        <th>Action</th>
        <th><button mat-raised-button class="btn btn-success" (click)="ajoutEvent()">Ajout
            evenement</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of listEvenement">
        <th scope="row">{{e.id}}</th>
        <td>{{e.nomEvenement}}</td>
        <td>{{e.dateEvenement}}</td>
        <td>{{e.typeEvenement}}</td>
        <td>{{e.PrixEvenement}}</td>
        <td>

          <button class=" btn btn-success me-2" (click)="modifEvenement(e.id)"> modifier </button>
          <!--<button class="me-2" (click)="supprimEvent(e.id)"> supprimer </button> -->  
        </td>
      </tr>


    </tbody>
  </table>
</div>